.rabbit{
    background-image:url(../img/rabbit-icons-23313.png);
    background-size: 50px, 50px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0
}

.hunter{
    position: absolute;
    top: 850px;
}
.rabbit-position{
    position: absolute;
    top: 870px;
}

.formHunter{
    float: right;
    right: 0;
    margin: 20px;
}